@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;

}
body{
    font-family: 'Source Code Pro', monospace;
    overflow-x: hidden;
    overflow-y: scroll;
}

.leftSide{
    width: 67%;
    height: 100vh;
    background-color: #CEDFE4;
}

#scrollDown{
    height: 200px;
    width: 100px;
    margin: 10vh auto;
}

.text{
    font-size: 45px;
    margin: 32vh auto 0 auto;
    width: 75%;
}

.text p:first-of-type{
    margin-bottom: 40px;
}


.rightSide{
    width: calc(100% - 67%);
    height: 100vh;
    background-image: linear-gradient(#014872,#D7EDE1);
    color: #D7EDE1;
    position: relative;
}

.rightSide h1{
    font-size: 40px;
    padding: 0 20px;
    text-align: center;
}

.rightSide h1:first-of-type{
    margin-top: 25vh;
}

.photo{
    height: 15vw;
    width: 15vw;
    border-radius: 50px;
    margin: 2vh auto;
    display: block;
    background-image: url("img/me.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box{
    box-sizing: border-box;
    float: left;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/*MENU*/

.mainNavi{
    width: 67%;
    font-size: 30px;
    margin-left: 20px;
}

.mainNavi li{
    list-style: none;
    float: left;
    margin: 20px 10px;
    padding-right: 20px;
    border-right: 3px solid #014872;
    transition: 0.3s;
}

.mainNavi a:link, a:visited {
    color: #014872;
    text-decoration: none;
}

.mainNavi li:hover{
    background-color: azure;
    /*border:2px solid #014872;*/
    padding-left: 20px;
}

/*Sekcja druga*/

#about{
    background-image: linear-gradient(#CEDFE4, #EAE5C9);
    height: 100vh;
    width: 100%;
}
.aboutText{
    width: 70%;
    padding: 5vw 0 0 5vw;
}
.aboutText h3{
    font-size: 50px;
    color: black;
}

.aboutText p{
    font-size: 40px;
    color: #004043;
}

#coding{
    height: 35vh;
    width: 35vh;
    position: relative;
    left: 75%;
    bottom: 15vh;
}

/*Trzeci segment projekty*/

#projects{
    height: 100vh;
    background-image: linear-gradient(#EAE5C9, #CEDFE4);
}

.project{
    height: 25vh;
    width: 60vw;
    background-color: #ABCEC8;
    color: #004043;
}


.project h3{
    font-size: 35px;
}

.project p{
    font-size: 25px;
    padding-bottom: 20px;
}

.image{
    height: 25vh;
    width: 22vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.icons{
    width: calc(60vw - 22vw);
    padding: 20px 20px 10px 20px;
    box-sizing: border-box;
}

.project img{
    transition: .3s;
}

.toRight img:hover{
    transform: rotate(-30deg);
}

.toLeft img:hover{
    transform: rotate(30deg);
}

.toLeft{
    float: left;
    margin: 50px 0 0 8vw ;
    text-align: left;
    transition: .3s;
}
.toLeft .image{
    float: left;
}
.toLeft .icons{
    float: left;
}

.toLeft:hover{
    margin-left: 10vw;
}

.toRight{
    float: right;
    margin: 50px 8vw 0 0 ;
    text-align: right;
    transition:  .3s;
}

.toRight .image{
    float: right;
}

.toRight .icons{
    float: left;
}

.toRight:hover{
    margin-right: 10vw;
}

.invisible{
    display: none;
}

.pizza{
    background-image: url("img/pizza.jpg");
}
.travelAgency{
    background-image: url("img/travel.jpg");
}

.calculator{
    background-image: url("img/calculator.jpg");
}

/*czwarta sekcja - doświadczenie*/

#experience{
    height: 100vh;
    background-color: #CEDFE4;
    color: #004043;
}

.leftText{
    float: left;
    width: 66%;
    height: 100vh;
    box-sizing: border-box;
    padding: 80px 80px;
}

.leftText h3{
    font-size: 45px;
}

.topText p {
    font-size: 38px;
}

.sideAnimation{
    float: right;
    width: calc(100% - 67%);
    height: 100vh;
    /*background-color: #D7EDE1;*/
}

.technologies p{
    font-size: 30px;
}

.technologies img{
    height: 60px;
    width: 60px;
}

.technologies section{
     width: 45%;
     float: left;
    margin-top: 40px;
 }

.programming,
.versionControl{
    margin-left: 75px;

}

.animBcg{
    background-image: url("img/bcgPlant.png");
    height: 765px;
    width: 495px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
    margin-top: calc(100vh - 765px);
    /*overflow-x: hidden;*/
}

#plant{
    height: 50vh;
    width: 25vw;
    float: right;
    margin-top: calc(765px - 50vh);
    margin-right: -70px;
}

/*CONTACT*/

#contact{
    height: 100vh;
    background-image: linear-gradient(#CEDFE4,#D8D1D1);
}

.message{
    width: 60%;
    float: left;
    color: #004043;
}

.message form{
    height: 50vh;
    width: 80%;
    margin-left: 80px;
    margin-top: 80px;
}

.formEl{
    height: 10vh;
    width: 10vw;
    font-size: 25px;
    float: left;
    margin-right: 110px;
}
.txtArea{
    height: 38vh;
    width: 38vw;
}

.formEl input{
    height: 4vh;
    width: 12vw;
    border: none;
    background-color: #E1EFF5;
    padding-left: 15px;
    font-size: 18px;
    -webkit-transition: .3s;
    transition: .3s;
    outline: none;
}

.formEl input:focus{
    border: none;
}

.formEl textarea{
    border: none;
    background-color: #E1EFF5;
    padding: 20px;
    -webkit-transition: .3s;
    transition: .3s;
    outline: none;
    display: block;
    font-size: 20px;
}

.formEl textarea:focus{
    border: none;
}

.description{
    box-sizing: border-box;
    padding-left: 80px;
    padding-top: 80px;
}

.description p{
    font-size: 35px;
}

.description h3{
    font-size: 45px;
}

.rightInfo{
    float: right;
    width: calc(100% - 61%);
    height: 100vh;
}

.sendMsg{
    display: block;
    height: 4vh;
    width: 12vw;
    border: none;
    background-color: #E1EFF5;
    font-size: 20px;
    font-family: 'Source Code Pro', monospace;
    transition: .3s;
}
.sendMsg:hover{
    background-color: #004043;
    color: #D7EDE1;
}

.rightInfo .contactBox{
    height: 19vw;
    width: 19vw;
    background-color: #E1EFF5;
    margin: 60% 0 0 20%;
    box-shadow: -35px -35px #B5D7E6;
    box-sizing: border-box;
    padding: 60px 20px 20px 20px;
    font-size: 20px;
    color: #004043;
}

.contactBox h3{
    font-size: 22px;
    font-weight: normal;
}

.contactBox p{
    font-size: 22px;
    margin-bottom: 20px;
    padding: 5px;
}

.contactBox a{
    text-decoration: none;
    color: #004043;
    transition: .3s;
}

.contactBox a:hover{
    padding-left: 10px;
    color: #004043;
}

/*stopka*/
.footer{
    background-color: #CEDFE4;
    color: black;
    text-align: center;
    height: 3vh;
    line-height: 3vh;
    font-size: 20px;
    border-top: 1px solid gray;
}